.bg-cat{
    width: 21vw;
    height: 28vh;
    background-image: url('https://www.pafa.org/sites/default/files/styles/tile/public/2022-11/LizLippman_SunnySpot_ForWeb.jpg?h=3c627379&itok=Zoh464WK');
    background-repeat: no-repeat;
    background-size: cover;
}